@model T1_Lerggios_Luis.Models.Distribuidor

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<form method="post" asp-action="Eliminar">
    <input asp-for="Id" hidden />

    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-info pl-3">
                ¿Está seguro de eliminar este Distribuidor?
            </h2>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="NombreDistribuidor" class="form-label"></label>
                    <input asp-for="NombreDistribuidor" disabled class="form-control" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label asp-for="RazonSocial" class="form-label"></label>
                    <input asp-for="RazonSocial" disabled class="form-control" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label asp-for="Telefono" class="form-label"></label>
                    <input asp-for="Telefono" disabled class="form-control" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label asp-for="AnioInicioOperacion" class="form-label"></label>
                    <input asp-for="AnioInicioOperacion" disabled class="form-control" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label asp-for="Contacto" class="form-label"></label>
                    <input asp-for="Contacto" disabled class="form-control" />
                </div>
            </div>

            <div class="d-grid gap-2 d-md-block mt-3">
                <button type="submit" class="btn btn-danger">
                    Eliminar
                </button>

                <a asp-controller="Distribuidor"
                   asp-action="Index"
                   class="btn btn-success">
                    Regresar
                </a>
            </div>

        </div>

    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}